MachineLearning.Net.LinearRegression\bin

MachineLearning.Net.LinearRegression.Test\bin

MachineLearning.Net.LinearRegression\obj
MachineLearning.Net.LinearRegression.Test\obj
MachineLearning.Net.Demo\bin
MachineLearning.Net.Demo\obj